<!doctype html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- HTMX  -->
  <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    
  <!-- Custom scripts -->
  <script src="../static/scripts/ui.js"></script>

  <!-- Custom style -->
  <link rel="stylesheet" href="../static/styles/base.css">

</head>

<html>
  
  <body hx-boost="true">

    <nav>

      <a href="{{ url_for('home.index') }}" class="{% if request.endpoint == 'home.index' %}active{% endif %}">
        Home
      </a>

      <a href="{{ url_for('home.about') }}" class="{% if request.endpoint == 'home.about' %}active{% endif %}">
       About me
      </a>
      <a href="{{ url_for('home.projects') }}" class="{% if request.endpoint == 'home.projects' %}active{% endif %}">
       Projects 
      </a>
      <a href="{{ url_for('home.blogs') }}" class="{% if request.endpoint == 'home.blogs' or request.endpoint == 'home.blog'%}active{% endif %}">
       Blog
      </a>
      <a href="../static/media/resume.md" 
        rel="noopener noreferrer"
        class="">
        Resume
      </a>
      <a hx-boost="false" href="https://github.com/MatthewdeHaas"
        target="_blank" 
        class="">
        GitHub
      </a>
      <a href="https://www.linkedin.com"
        target="_blank"
        class="">
        LinkedIn
      </a>

    </nav>

    <main>
      {% block body %}{% endblock %}
    </main>

    <footer>
      <p>&copy; Matthew deHaas 2025. All rights reserved.</p>
    </footer>


  </body>

</html>
