{% extends "base.html" %}

{% block body %}

<!-- Header -->
  <div class="">
    <h1 class="">Hello, I'm Matthew deHaas!!!</h1>
    <nav class="social-links">
      <a target="_blank" href="https://github.com/MatthewdeHaas">GitHub</a>
      <a target="_blank" href="https://www.linkedin.com/">LinkedIn</a>
    </nav>
  </div>

  <!-- Images -->
  <section class="photos container">
    <div class="photo-grid">
      ...
      <!-- <img src="static/media/images/..."> -->
      <!-- <img src="static/media/images/..."> -->
      <!-- <img src="static/media/images/.."> -->
    </div>
  </section>

  <!-- About -->
  <section class="about container">
    <h2>About</h2>
    <p>
      ...
    </p>
  </section>

  <!-- Interests -->
  <section class="interests container">
    <h2>Interests</h2>
    <p>
      ...
    </p>
  </section>


{% endblock %}
